<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My API</title>
    <style>
        .container {
            max-width: 500px;
            margin: 0 auto;
        }

        pre {
            margin: 0;
            padding: 0;
        }

        code {
            color: #4a56bd;
            font-size: 1.1rem;
            font-weight: 600;
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.1rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to my API</h1>
        <h2>USAGE:</h2>
        <pre>
            <code>
### GET ALL STORES
GET http://localhost:5000/stores
Content-Type: application/json

### CREATE STORE
POST http://localhost:5000/stores
Content-Type: application/json
Authorization: Bearer {{Token}}

{
    "name": "MyStore2"
}

### CREATE ITEM IN STORE
POST http://localhost:5000/stores/MyStore2/item
Content-Type: application/json
Authorization: Bearer {{Token}}

{
    "name": "item 1",
    "price": 20.09
}

### GET STORES BY NAME
GET  http://localhost:5000/stores/MyStore2

### GET ITEMS IN STORE
GET  http://localhost:5000/stores/MyStore2/items

            </code>
        </pre>
    </div>
</body>

</html>